page-resultado1 {
.buttonHome{
    font-size: 13px;
    background-color: white !important;
    color:#999999 !important;
 
}
.footer{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100px;
    background-color: #bfbfbf;
}
.buttonHome:active{
    font-size: 13px;
    background-color: #999999 !important;
    color:white !important;
}
// .buttonHome::before{
//     font-size: 13px;
//     background-color: #999999 !important;
//     color:white !important;
// }
}
