page-home {
ion-label{
font-size: 150%;
color:white;
padding-left: 2%;
}

.image {
    position:fixed;
    margin: 31%;
     height: 20vh; 
     width: 35vw; 
   // border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: block;
    margin-top:8%;
}
.buttonInicio{
    position:fixed;
    margin: 21%;
    margin-top:51%;
    height: 10vh;
    width: 200px;
    background-color: #d9d9d9;
    font-weight: bold;
    border-radius: 8px;

}
.buttonInicio:active{
    background-color:#737373;
    color:white;
}
}


